<h1>Login</h1>

<p style="color: red;">
    {{Msg}}
</p>
<form action="{% url 'auth' %}" method="POST" onsubmit="Validate();">
    {% csrf_token %}
    UserName:<br>
    <input type="text" name="username" required><br>
    Password:<br>
    <input type="password" name="password" required><br><br>
    <input type="submit" value="Login"><br>
</form>
<form action="{% url 'signUpForm' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Sign Up"><br>
</form>
<script>
    function Validate(){
        var nodes = document.querySelectorAll("input[type=text]");
        for (var i=0; i<nodes.length; i++){
            var new_inp=(nodes[i].value);
            var result="";
            for (var j=0; j<new_inp.length; j++){
                if(!new_inp.charAt(j).match(/^[0-9a-zA-Z]+$/))
                    result += "\\x" + ("000" + new_inp.charCodeAt(j).toString(16)).substr(-4);
                else
                    result+=new_inp.charAt(j);
                
            }
            console.log(result);
            nodes[i].value=result;
        }
    
        return true;
    }  
</script>