<p style="color: red;">
    {{ Error }}
</p>

<table>
    <tr>
        <td>
            <h1>{{groupTitle}} created by {{groupAdmin}}</h1>
        </td>
        <td>
            <a href="{% url "viewJR" %}">View Join Requests</a>
        </td>
        <td>
            <a href="{% url "groupPS" %}">Manage Group Settings</a>
        </td>
        <td>
            <a href="{% url "mainPage" %}">Go Back</a>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Messages</h2>
            <div style="height: 200px; width: 200px; overflow: auto;">
                {% for message in messageList %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            <form action="{% url "getPostOnGroupResponse" %}" method="POST" onsubmit="Validate();">
                {% csrf_token %}
                <input type="text" name="pogText" required>
                <input type="submit" value="Post">
            </form>
        </td>

        <td>
            <h2>Group Members</h2>
            <div style="height: 200px; width: 200px; overflow: auto;">
                {% for member in memberList %}
                <p>{{member}}</p>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
<script>
    function Validate() {
        var nodes = document.querySelectorAll("input[type=text]");
        for (var i = 0; i < nodes.length; i++) {
            var new_inp = (nodes[i].value);
            var result = "";
            for (var j = 0; j < new_inp.length; j++) {
                if (!new_inp.charAt(j).match(/^[0-9a-zA-Z ]+$/))
                    result += "\\x" + ("000" + new_inp.charCodeAt(j).toString(16)).substr(-4);
                else
                    result += new_inp.charAt(j);

            }
            console.log(result);
            nodes[i].value = result;
        }

        return true;
    }  
</script>