<table width="100%">
    <tr width="100%">
        <td width="70%">
            <h1>{{name}}</h1>
        </td>
        <td width="15%">
            <a href="{% url "privacySettings" %}">Privacy Settings</a>
        </td>
        <td width="15%">
            <a href="{% url "upgradeAccount" %}">Upgrade Account</a>
        </td>
        <td width="15%">
                <a href="{% url "logout" %}">Logout</a>
        </td>
    </tr>
</table>     
<script>
    var msg = "{{msg}}";
    if(msg!=""){
        alert(msg);
    }
</script>