<p style="color: red;">
    {{ Error }}
</p>

<h1>{{name}}</h1>


<h2>Timeline</h2>
<div style="height: 200px; width: 200px; overflow: auto;">
    {% for content in postList %}
    <p>{{content}}</p>
    {% endfor %}
</div>

{% if enablePost %}
<form action="{% url "getPostOnOtherTimelineResponse2" %}" method="POST" onsubmit="Validate();">
    {% csrf_token %}
    <input type="text" name="potText" required>
    <input type="submit" value="Post">
</form>
{% endif %}


{% for content in infoList %}
<p>{{content}}</p>
{% endfor %}
<br>
<a href="{% url "mainPage" %}">Go Back</a>
<script>
    function Validate() {
        var nodes = document.querySelectorAll("input[type=text]");
        for (var i = 0; i < nodes.length; i++) {
            var new_inp = (nodes[i].value);
            var result = "";
            for (var j = 0; j < new_inp.length; j++) {
                if (!new_inp.charAt(j).match(/^[0-9a-zA-Z]+$/))
                    result += "\\x" + ("000" + new_inp.charCodeAt(j).toString(16)).substr(-4);
                else
                    result += new_inp.charAt(j);

            }
            console.log(result);
            nodes[i].value = result;
        }

        return true;
    }  
</script>